body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 200;
}

h1 {
  font-size: 70px;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.scores {
  margin: 15px;
}

/* CSS */
.button {
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  color: white;
  padding: 8px 15px;
  margin: 5px;
  box-shadow: 5px 5px 29px -5px rgba(0, 0, 0, 0.75);
}

#rock-button {
  background-color: #00916e;
}

#paper-button {
  background-color: #ffcf00;
}

#scissors-button {
  background-color: #fa003f;
}
